<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

        <bean id="fourthComponent" class="pl.pjatk.gprpior.Sandbox.FourthComponent">
            <constructor-arg name="message" value="Hello from XML"/>
        </bean>

<!--    <bean id="firstComponent" class="pl.pjatk.gprpior.Sandbox.FirstComponent">-->
<!--        <Construction-arg name="my.custom.property" value="Hello from XML"/>-->
<!--    </bean>-->

</beans>